.fixed--header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header--placeholder {
    height: 235px;
}

.latest--release {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45rem;
}

.homepage--video {
    padding: 2rem;
}
